@model RSWEBProject.ViewModels.ClientQuery

@{
    ViewData["Title"] = "Index";
}

<h1>Clients</h1>

<p>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))

    {
        <a asp-action="Create">Create New</a>
    }
</p>
<form asp-controller="Clients" asp-action="Index" method="get">
    <p>
        Name: <input type="text" asp-for="FullName" />
        Address: <input type="text" asp-for="Address" />
        Email: <input type="text" asp-for="Email" />
        Phone Number: <input type="text" asp-for="PhoneNumber" />
        <input type="submit" value="Filter" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                Profile Picture
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].Email)
            </th>
           
            <th>
                Orders
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Clients) {
        <tr>
            <td>
               
            <img src="~/profilePictures/@item.ProfilePicture"
                class="rounded-circle"
                height="70" width="70"
                asp-append-version="true" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
           
            <td>
                <a asp-controller="Restaurants" asp-action="ViewOrders" asp-route-id="@item.Id">Check Orders</a>
            </td>
            <td>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))

                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))

                {<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>}
            </td>
        </tr>
}
    </tbody>
</table>
